{% extends 'nanoweb/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Home{% endblock %}

{% block left %}
{% endblock %}
{% block center %}
  <div class="jumbotron">
    <h1 class="display-4">Important Updates</h1>
    <hr class="my-4">
    {% for message in messages %}
      <h5>{{ message.author }} <span class="badge badge-secondary">{{ message.format_date }}</span></h4>
      {% comment %} if low priority, display blue background {% endcomment %}
      {% if message.importance == "L" %}
        <div class="alert alert-primary" role="alert">{{ message.text }}</div>
      {% endif %}
      {% comment %} if medium priority, display yellow background  {% endcomment %}
      {% if message.importance == "M" %}
        <div class="alert alert-warning" role="alert">{{ message.text }}</div>
      {% endif %}
      {% comment %} if high priority, display red background  {% endcomment %}
      {% if message.importance == "H" %}
        <div class="alert alert-danger" role="alert">{{ message.text }}</div>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}
{% block right %}
{% endblock %}