{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'nanoweb/main.css' %}"/>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  {% comment %} nav {% endcomment %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">NanoWeb</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      {% if request.user.is_authenticated %}
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'facilities:index' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Reservations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Chemical Inventory</a>
          </li>
          {% if request.user.is_staff %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
            </li>
          {% endif %}
        </ul>
      </div>
      {% endif %}
    </nav>
    {% comment %} content {% endcomment %}
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        {% block left %}
        {% endblock %}
      </div>
      <div class="col-8">
        {% block center %}
        {% endblock %}
      </div>
      <div class="col">
        {% block right %}
        {% endblock %}
      </div>
    </div>
  </div>
</body>
</html>